@media print {
.hide,.dt-buttons,.dataTables_filter,.dataTables_info,.dataTables_paginate {display: none;}
.table{width: 100%;}
.table,.table tr,.table td{border: 1px solid #000;}
@page {size: landscape}
}